.btn {
  box-shadow: none !important;
  border: none!important;
  max-height: 60px!important;
  margin: auto auto;
  background: #2ac7e3;
  color: #000!important;
  border-left-color: #2ac7e3!important;
  &:hover {
    background: #5dcce0;
    color: #000!important;
  }
}
.btn:disabled {
  background-color: var(--gray-300) !important;
  border-color: var(--gray-300) !important;
  a {
    color: var(--white)!important;
  }
}

.navbar * {
  color: #c0c0c0;
}

.prj {
  width: 170px!important;
  position: relative;
  &:not(.prj-selected):hover {
    color: var(--primary)!important;
  }
  &.prj-selected {
    color: var(--primary)!important;
    font-weight: bold!important;
  }
  &.prj-selected::after {
    position: absolute!important;
    content: ''!important;
    left: 0!important;
    right: 0!important;
    height: 4px;
    top: 35px;
    width: 170px;
    border-radius: 4px 4px 0 0;
    background-color: var(--primary)!important;
  }
}

div.repocard-container {

  >:last-child {
    margin-right: auto!important;
  }
  .repocard {
    max-width: 600px!important;
  }
}

.customCards {
  place-items: center;
  max-height: 400px;
  min-height: 400px;
  min-width: 300px;
  max-width: 300px;
  transform-style: preserve-3d;
  margin-bottom: 20px;
  perspective: 1000px;
  position: relative;
  .cardLabel label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-style: preserve-3d;
    transition: transform 0.65s ease;
    .mainCard {
      transition: transform 0.65s ease;
      .repo-hidden {
        position: absolute!important;
        height: 197.18px!important;
        background-color: #000;
        opacity: 0.9;
        transition: all 0.5s ease;
        &:hover {
          display: flex!important;
          justify-content: center!important;
          align-items: center!important;
          svg:hover {
            fill: #fff!important;
          }
        }
      }
      .card-img-top {
        &:hover {
          +.repo-hidden {
            display: flex!important;
            justify-content: center!important;
            align-items: center!important;
          }
        }
      }
    }
    .card:not(.mainCard) {
      cursor: pointer;
    }
  .card-img-top {
    max-height: 197.18px;
    min-height: 197.18px;
  }
}

  .mainCard:hover, > .mainCard:focus-within {
    position: absolute;
    z-index: 50000000;
    > div >p {
      max-height: fit-content;
      height: fit-content;
      -webkit-line-clamp: 10000;
    }
    transform: translateY(-1rem);
    position: relative;
    z-index: 2;
  }
}

.card {
  box-shadow: 0 0 5px -2px rgba(#000, 1);
  border: 1px solid #000;
  max-width: 300px;
  min-width: 300px;

  .card-title > a {
    color: var(--primary)!important;
  }
  > div > p  {
    max-height: 90px;
    display: -webkit-box;
    // max-height: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.technologyContainer {
  width: 340px!important;
  height: 300px!important;
  transition: all 0.5s ease;
  &:hover {
    .card {
        &.up {
          transform: scale(1.1) translateY(-10rem);
        }
        &.down {
          transform: scale(1.1) translateY(5rem);
        }
        z-index: 2;
        > div >p {
          max-height: fit-content;
          height: fit-content;
          -webkit-line-clamp: 10000;
        }
      }
    }
    .card {
      .card-img-top {
        background: var(--gray-blue);
      }
    }
}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  color: var(--primary)!important;
  font-weight: bold;
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  &:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    40% {
      color: var(--primary);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);}
    60% {
      text-shadow:
        .25em 0 0 var(--primary),
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 var(--primary),
        .5em 0 0 var(--primary);}
  }
}

button.next, button.prev {
  // border-radius: 0 5px 5px 0!important;
  border-top: 2px solid var(--primary)!important;
  border-left: 2px solid var(--primary)!important;
  border-bottom: 2px solid var(--primary)!important;
  border-right: 2px solid var(--primary)!important;
}

.loading-underline {
  height: 1px;
  border: 1px solid var(--primary);
  animation: drawBorder 6s ease forwards;
  @keyframes drawBorder {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}

button.next {
  border-radius: 0 5px 5px 0!important;
}
button.prev {
  border-radius: 5px 0 0 5px!important;
}

#s-fundamentos-1:checked~.cardLabel #l-fundamentos-4,
#s-fundamentos-2:checked~.cardLabel #l-fundamentos-5,
#s-fundamentos-3:checked~.cardLabel #l-fundamentos-1,
#s-fundamentos-4:checked~.cardLabel #l-fundamentos-2,
#s-fundamentos-5:checked~.cardLabel #l-fundamentos-3 ,
#s-pessoal-1:checked~.cardLabel #l-pessoal-4,
#s-pessoal-2:checked~.cardLabel #l-pessoal-5,
#s-pessoal-3:checked~.cardLabel #l-pessoal-1,
#s-pessoal-4:checked~.cardLabel #l-pessoal-2,
#s-pessoal-5:checked~.cardLabel #l-pessoal-3 {
  transform: scale(0.7) translateX(-70%);
  z-index: 1;
}
#s-fundamentos-1:checked~.cardLabel #l-fundamentos-5,
#s-fundamentos-2:checked~.cardLabel #l-fundamentos-1,
#s-fundamentos-3:checked~.cardLabel #l-fundamentos-2,
#s-fundamentos-4:checked~.cardLabel #l-fundamentos-3,
#s-fundamentos-5:checked~.cardLabel #l-fundamentos-4,
#s-pessoal-1:checked~.cardLabel #l-pessoal-5,
#s-pessoal-2:checked~.cardLabel #l-pessoal-1,
#s-pessoal-3:checked~.cardLabel #l-pessoal-2,
#s-pessoal-4:checked~.cardLabel #l-pessoal-3,
#s-pessoal-5:checked~.cardLabel #l-pessoal-4 {
  transform: scale(0.85) translateX(-35%);
  z-index: 2;
}
#s-freela-1:checked~.cardLabel #l-freela-1,
#s-freela-2:checked~.cardLabel #l-freela-2,
#s-fundamentos-1:checked~.cardLabel #l-fundamentos-1,
#s-fundamentos-2:checked~.cardLabel #l-fundamentos-2,
#s-fundamentos-3:checked~.cardLabel #l-fundamentos-3,
#s-fundamentos-4:checked~.cardLabel #l-fundamentos-4,
#s-fundamentos-5:checked~.cardLabel #l-fundamentos-5,
#s-pessoal-1:checked~.cardLabel #l-pessoal-1,
#s-pessoal-2:checked~.cardLabel #l-pessoal-2,
#s-pessoal-3:checked~.cardLabel #l-pessoal-3,
#s-pessoal-4:checked~.cardLabel #l-pessoal-4,
#s-pessoal-5:checked~.cardLabel #l-pessoal-5 {
  transform: scale(1) translateX(0%);
  z-index: 3;
}
#s-freela-1:checked~.cardLabel #l-freela-2,
#s-freela-2:checked~.cardLabel #l-freela-1,
#s-fundamentos-1:checked~.cardLabel #l-fundamentos-2,
#s-fundamentos-2:checked~.cardLabel #l-fundamentos-3,
#s-fundamentos-3:checked~.cardLabel #l-fundamentos-4,
#s-fundamentos-4:checked~.cardLabel #l-fundamentos-5,
#s-fundamentos-5:checked~.cardLabel #l-fundamentos-1,
#s-pessoal-1:checked~.cardLabel #l-pessoal-2,
#s-pessoal-2:checked~.cardLabel #l-pessoal-3,
#s-pessoal-3:checked~.cardLabel #l-pessoal-4,
#s-pessoal-4:checked~.cardLabel #l-pessoal-5,
#s-pessoal-5:checked~.cardLabel #l-pessoal-1 {
  transform: scale(0.85) translateX(35%);
  z-index: 2;
}
#s-fundamentos-1:checked~.cardLabel #l-fundamentos-3,
#s-fundamentos-2:checked~.cardLabel #l-fundamentos-4,
#s-fundamentos-3:checked~.cardLabel #l-fundamentos-5,
#s-fundamentos-4:checked~.cardLabel #l-fundamentos-1,
#s-fundamentos-5:checked~.cardLabel #l-fundamentos-2,
#s-pessoal-1:checked~.cardLabel #l-pessoal-3,
#s-pessoal-2:checked~.cardLabel #l-pessoal-4,
#s-pessoal-3:checked~.cardLabel #l-pessoal-5,
#s-pessoal-4:checked~.cardLabel #l-pessoal-1,
#s-pessoal-5:checked~.cardLabel #l-pessoal-2 {
  transform: scale(0.7) translateX(70%);
  z-index: 1;
}

// start
#s-frontend-1:checked~.cardLabel #l-frontend-6,
#s-frontend-2:checked~.cardLabel #l-frontend-7,
#s-frontend-3:checked~.cardLabel #l-frontend-8,
#s-frontend-4:checked~.cardLabel #l-frontend-9,
#s-frontend-5:checked~.cardLabel #l-frontend-1,
#s-frontend-6:checked~.cardLabel #l-frontend-2,
#s-frontend-7:checked~.cardLabel #l-frontend-3,
#s-frontend-8:checked~.cardLabel #l-frontend-4,
#s-frontend-9:checked~.cardLabel #l-frontend-5 {
  transform: scale(0.4) translateX(-205%);
  z-index: 1;
}
#s-frontend-1:checked~.cardLabel #l-frontend-7,
#s-frontend-2:checked~.cardLabel #l-frontend-8,
#s-frontend-3:checked~.cardLabel #l-frontend-9,
#s-frontend-4:checked~.cardLabel #l-frontend-1,
#s-frontend-5:checked~.cardLabel #l-frontend-2,
#s-frontend-6:checked~.cardLabel #l-frontend-3,
#s-frontend-7:checked~.cardLabel #l-frontend-4,
#s-frontend-8:checked~.cardLabel #l-frontend-5,
#s-frontend-9:checked~.cardLabel #l-frontend-6 {
  transform: scale(0.55) translateX(-125%);
  z-index: 2;
}
#s-frontend-1:checked~.cardLabel #l-frontend-8,
#s-frontend-2:checked~.cardLabel #l-frontend-9,
#s-frontend-3:checked~.cardLabel #l-frontend-1,
#s-frontend-4:checked~.cardLabel #l-frontend-2,
#s-frontend-5:checked~.cardLabel #l-frontend-3,
#s-frontend-6:checked~.cardLabel #l-frontend-4,
#s-frontend-7:checked~.cardLabel #l-frontend-5,
#s-frontend-8:checked~.cardLabel #l-frontend-6,
#s-frontend-9:checked~.cardLabel #l-frontend-7 {
  transform: scale(0.7) translateX(-70%);
  z-index: 3;
}
#s-frontend-1:checked~.cardLabel #l-frontend-9,
#s-frontend-2:checked~.cardLabel #l-frontend-1,
#s-frontend-3:checked~.cardLabel #l-frontend-2,
#s-frontend-4:checked~.cardLabel #l-frontend-3,
#s-frontend-5:checked~.cardLabel #l-frontend-4,
#s-frontend-6:checked~.cardLabel #l-frontend-5,
#s-frontend-7:checked~.cardLabel #l-frontend-6,
#s-frontend-8:checked~.cardLabel #l-frontend-7,
#s-frontend-9:checked~.cardLabel #l-frontend-8 {
  transform: scale(0.85) translateX(-35%);
  z-index: 4;
}
#s-frontend-1:checked~.cardLabel #l-frontend-1,
#s-frontend-2:checked~.cardLabel #l-frontend-2,
#s-frontend-3:checked~.cardLabel #l-frontend-3,
#s-frontend-4:checked~.cardLabel #l-frontend-4,
#s-frontend-5:checked~.cardLabel #l-frontend-5,
#s-frontend-6:checked~.cardLabel #l-frontend-6,
#s-frontend-7:checked~.cardLabel #l-frontend-7,
#s-frontend-8:checked~.cardLabel #l-frontend-8,
#s-frontend-9:checked~.cardLabel #l-frontend-9 {
  transform: scale(1) translateX(0);
  z-index: 5;
}
#s-frontend-1:checked~.cardLabel #l-frontend-2,
#s-frontend-2:checked~.cardLabel #l-frontend-3,
#s-frontend-3:checked~.cardLabel #l-frontend-4,
#s-frontend-4:checked~.cardLabel #l-frontend-5,
#s-frontend-5:checked~.cardLabel #l-frontend-6,
#s-frontend-6:checked~.cardLabel #l-frontend-7,
#s-frontend-7:checked~.cardLabel #l-frontend-8,
#s-frontend-8:checked~.cardLabel #l-frontend-9,
#s-frontend-9:checked~.cardLabel #l-frontend-1 {
  transform: scale(0.85) translateX(35%);
  z-index: 4;
}
#s-frontend-1:checked~.cardLabel #l-frontend-3,
#s-frontend-2:checked~.cardLabel #l-frontend-4,
#s-frontend-3:checked~.cardLabel #l-frontend-5,
#s-frontend-4:checked~.cardLabel #l-frontend-6,
#s-frontend-5:checked~.cardLabel #l-frontend-7,
#s-frontend-6:checked~.cardLabel #l-frontend-8,
#s-frontend-7:checked~.cardLabel #l-frontend-9,
#s-frontend-8:checked~.cardLabel #l-frontend-1,
#s-frontend-9:checked~.cardLabel #l-frontend-2 {
  transform: scale(0.7) translateX(70%);
  z-index: 3;
}
#s-frontend-1:checked~.cardLabel #l-frontend-4,
#s-frontend-2:checked~.cardLabel #l-frontend-5,
#s-frontend-3:checked~.cardLabel #l-frontend-6,
#s-frontend-4:checked~.cardLabel #l-frontend-7,
#s-frontend-5:checked~.cardLabel #l-frontend-8,
#s-frontend-6:checked~.cardLabel #l-frontend-9,
#s-frontend-7:checked~.cardLabel #l-frontend-1,
#s-frontend-8:checked~.cardLabel #l-frontend-2,
#s-frontend-9:checked~.cardLabel #l-frontend-3 {
  transform: scale(0.55) translateX(125%);
  z-index: 2;
}
#s-frontend-1:checked~.cardLabel #l-frontend-5,
#s-frontend-2:checked~.cardLabel #l-frontend-6,
#s-frontend-3:checked~.cardLabel #l-frontend-7,
#s-frontend-4:checked~.cardLabel #l-frontend-8,
#s-frontend-5:checked~.cardLabel #l-frontend-9,
#s-frontend-6:checked~.cardLabel #l-frontend-1,
#s-frontend-7:checked~.cardLabel #l-frontend-2,
#s-frontend-8:checked~.cardLabel #l-frontend-3,
#s-frontend-9:checked~.cardLabel #l-frontend-4 {
  transform: scale(0.4) translateX(205%);
  z-index: 1;
}
// end
